<h1>Image Cropping Page</h1>
<hr>
<%= image_tag @user.avatar_url(:large), id: 'cropbox' %>

<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
	<%= image_tag @user.avatar_url(:large), :id => "preview" %>
</div>

<%= form_for @user do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %><br/>
   <% end %>
   <div class="actions">
   	<%= f.submit "Crop" %>
   </div>
   <% end %>